table {
    border-collapse: collapse;

}

td {
    padding: 0.4rem 0.5rem;
    padding-top: 0.6rem;
    text-align: center;
    border: none;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    color: var(--text-color);
}

.calendario_dias {
    background-color: var(--subtittle-color);
    border: var(--border-box-shadow-container);
    color: #fff;
    padding: 0.4rem;
    margin-bottom: 1rem;
}

.calendario_options-container {
    border: none;
    outline: none;
    margin-bottom: 1rem;
    font-size: var(--tamanho-font);
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--body-color);

}

.calendario_options {
    font-size: 0.8rem;
    color: var(--tittle-color);
}

th {
    background-color: var(--tittle-color);
}

td:hover {
    background-color: var(--text-container-color);
    cursor: pointer;
}

.selected {
    background-color: var(--subtittle-color);
    color: var(--text-color);
    border-radius: 100%;
}

.calendario {
    margin-top: 1rem;
    max-height: 5rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.calendario_card-container {
    margin-top: 54%;
    display: flex;
    justify-content: space-between;
    width: 93%;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;

}

.calendario_card {
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    width: 98%;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}


.calendario_Card-text {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.calendario_card-icons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.calendario_card-icons {
    height: 1.5rem;
    margin-right: 0.5rem;
}

.card_number {
    background-color: red;
    color: var(--text-container-color);
    border-radius: 2rem;
    padding: 0rem 0.5rem;
    font-size: 0.8rem;

}

.calendario_card-icon-img {
    height: 2.5rem;
}

.calendario_card-icons-button {
    border: none;
    background-color: var(--subtittle-color);
}

.calendario_card-icons-button-1 {
    border: none;
    background-color: #FFD80C;
    width: 24%;
    height: 1.4rem;
    border-radius: 8px;
}

.text_hidden {
    visibility: hidden;
}

.calendario_card-icons-button {
    border-radius: 0.5rem;
    width: 25%;
    height: 1.5rem;
}

.calendarioCard_text-container {
    margin-left: 10%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--tittle-color);

}

.calendarioCard_text-title {
    font-weight: bold;
    font-size: 1rem;
    color: var(--tittle-color);
}

.calendarioCard_text {
    font-size: 0.8rem;
    color: var(--text-color);
    margin-top: 0.3rem;
}

.button_calendario {
    padding: 1rem 5rem;
    background-color: var(--subtittle-color);
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: var(--text-container-color);
    font-size: var(--tamanho-font);
    margin-bottom: 0.5rem;
}


.text_blue{
    color: var(--svg);
}

.calendario_text-container{
    display: flex;
    flex-direction: column;
    height: 8vh;
    justify-content: space-around;
    width: 80%;
    margin-top: 1rem;
    
}

.agenda_card-container{
    width: 80%;
    margin-top: 2rem;
    
}

.calendario_card-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.calendario_card-point{
    display: flex;
    flex-direction: column;
    width: 12%;
    align-items: center;
}


.agenda_container{
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
    overflow-y: scroll;
}

.calendario_card-content-container{
    margin-top: 2rem;
}

.checkbox_reunioes{
    display: flex;
    align-items: center;
    width: 30%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.checkbox_reunioes-card{
    display: flex;
    align-items: center;
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-left: 5%;
}

.label_checkbox {
    margin-left: 0.5rem;
    color: var(--text-container-color);
}


.checkbox_blue{
    background-color: var(--span-color) ;
}

.checkbox_green{
    background-color: #4CE364;
}


.checkbox_yellow{
    background-color: #FFC700 ;
}

.checkbox_gray{
    background-color: #C4C4C4;
}



.checkbox_reunioes-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    justify-content: space-evenly;
    width: 80%;
    flex-wrap: wrap;
}

.icon_reunioes-plus{
    background-color: var(--subtittle-color);
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
    margin-top: 1rem;
}


.reinioes_text-title{
    font-weight: bold;
    font-size: var(--tamanho-font);
    color: var(--tittle-color);
    width: 100%;
}

.icon_reunioes{
    width: 3.2rem;
    max-height: 3.2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.icon_reunioes:hover, .icon_reunioes-plus:hover, .checkbox_reunioes:hover{
    cursor: pointer;
}

.icon_reunioes-plus:hover, .checkbox_blue:hover{
    background-color: var(--button-color-hover);
}

.checkbox_green:hover{
    background-color: #4ce365d0;
}


.input_date-reunioes{
    height: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--plaholder-color);
    border: var(--border-box-shadow-container);
    box-shadow: var(--box-shadow-container);
    outline: none;
    background-color: var(--container-light);
}

.input_datetime-reunioes{
    height: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 0.8rem;
    width: 28%;
    border: var(--border-box-shadow-container);
    box-shadow: var(--box-shadow-container);
    outline: none;
    background-color: var(--container-light);
    color: var(--plaholder-color) ;
}


.label_dateTime{
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-weight: bold;
    color: var(--text-color);
}


.button_calendario-reunoies{
    padding: 1rem 5rem;
    background-color: var(--subtittle-color);
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: var(--text-container-color);
    font-size: var(--tamanho-font);
    margin-bottom: 0.5rem;
    width:30%;
}


.add_reunioes{
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
    overflow-y: scroll;
    padding: 1rem;
}

.content_reunioes-container{
    margin-left: 3rem;
    overflow-y: scroll;
    width: 100%;
    padding: 1rem;
    margin-top: 0.2rem;
}


.card_categorias-container{
    background-color: var(--container-light);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    margin-left: 75%;
    margin-top: -2rem;
    height: 40vh;
    max-height: 80vh;
    overflow-y: scroll;
    width: 15%;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color) ;
}

.card_membros-container{
    background-color: var(--container-light);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    margin-left: 65%;
    margin-top: -2rem;
    height: 40vh;
    max-height: 80vh;
    overflow-y: scroll;
    width: 25%;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color) ;
}

.card_membros{
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    width: 85%;
    margin-top: 1.2rem;
    padding: 0.7rem;
    margin-left: 5%;
}


.card_membros:hover{
    cursor: pointer;
}
.haeader_card-container{
    background-color: var(--span-color);
    display: flex;
    padding: 0.5rem;
    width: 100%;
    z-index: 2;
    justify-content: space-evenly;
}

.haeader_card-text{
    color: var(--text-container-color);
}

.calendario_card-icon-img-small{
    width: 0.7rem;
}

.calendarioCard_text-blue{
    color: var(--svg);
}

.text_card-container{
    width: 10rem;
}


.calendarioCard_text-blue:hover, .haeader_card-text:hover, .pointer:hover{
    cursor: pointer;
}
.calendario_card-container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.agenda_container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}


.content_reunioes-container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.add_reunioes::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.card_categorias-container::-webkit-scrollbar {
    width: 0px;
    /* width of the entire scrollbar */
}

.card_membros-container::-webkit-scrollbar {
    width: 0px;
    /* width of the entire scrollbar */
}
