.dashBoard_card {
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    height: 34vh;
    max-height: 34vh;
}

.barra_cores{
    width: 90%;
    border: none;
    background-color: transparent;
    height: 20px;
    padding: none;

}

.barra_cores-subtom{
    width: 20px;
    border: none;
    background-color: transparent;
    height: 20px;
    padding: none;
    border-radius: 1rem;
    margin-top: 1rem;
    
    
}


.dashBoardCard_text-container {
    margin-left: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.dashBoardCard_text-title {
    font-weight: bold;
    font-size: var(--tamanho-font);
    color: var(--tittle-color);
}

.dashBoardCard_text {
    font-size: var(--tamanho-mobile);
    margin-top: 5%;
    color: var(--tittle-color);
}

.dashBoardCard_icons {
    height: 3rem;
}

.dashBoardCard_icons-linear {
    height: 2rem;
    margin-top: 1rem;
    width: 95%;
}

.perfilConfig_img {
    width: 9rem;
    height: 9rem;
    background-color: rgb(176, 163, 163);
    border-radius: 100%;
    margin: 5%;
}
.borda_gradiente{
    width: 10rem;
    height: 10rem;
    
    display: flex;
    border-radius: 100%;
    padding: 2%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-image: linear-gradient(to right,  rgb(230, 230, 230),rgb(230, 230, 230), var(--span-color), var(--span-color));
}
.dashBoardCard_icons-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.3rem;
   
}

.dashBoard_card-container {
    display: flex;
    flex-direction: column;
    width: 28%;
    padding: 0rem 0.9rem;
  
}

.dashBoardCard_subtitle-img {
    height: 1.5rem;
    margin-top: 4.5%;
    margin-left: 0.4rem;
}

.dashBoard_card-img {
   height: 2rem;
    background-color: var(--span-color);
    border-radius: 100%;
    padding: 1rem 1rem;
    width: 2rem;
}

.dashBoardCard_subtitle-container {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    
}



.dashBoardCard_hex {
    color: var(--plaholder-color);
    border: var(--border-box-shadow-container);
    box-shadow: var(--box-shadow-container);
    outline: none;
    width: 6vw;
    margin-left: 0.5rem;
    border-radius: 8px;
    padding: 0.5rem;
    background-color:var(--container-light);
}

.dashBoardCard_hex::placeholder{
    color: var(--plaholder-color);
}

.button_evidencia{
    background-color: var(--svg);
    color: var(--container-light);
}

.dashBoard_icons{
    height: 3rem;
    width: 3rem;
    border: var(--border-box-shadow-container);
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dashBoard_icons:hover{
    cursor: pointer;
    background-color: var(--svg);
    color: var( --container-light);
    transition: 0.5s;
}


@media (min-width: 250px)  and   (max-width: 1200px){
    .dashBoard_card-container {
        display: flex;
        flex-direction: column;
        width: 105%;
        padding: 0rem 0.9rem;
        margin-left: -5%;
        margin-top: 1rem;
    }

    .dashBoard_icons{
        height: 2rem;
        width: 2rem;
        border: var(--border-box-shadow-container);
        box-shadow: var(--box-shadow-container);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.2rem;
    }

    .dashBoardCard_text {
        font-size: var(--tamanho-mobile);
        margin-top: 5%;
        color: var(--tittle-color);
    }
    .dashBoardCard_text-title {
        font-weight: bold;
        font-size:  1.188rem;
        color: var(--tittle-color);
    }
    .dashBoardCard_icons-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.5rem;
      
    }
    
    .dashBoardCard_subtitle-container {
        display: flex;
        width: 90%;
        justify-content: space-evenly;

    }
    .dashBoardCard_icons-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.3rem;
        flex-wrap: wrap;
    }

    .dashBoardCard_hex {
        color: var(--plaholder-color);
        border: var(--border-box-shadow-container);
        box-shadow: var(--box-shadow-container);
        outline: none;
        width: 50VW;
        margin-left: 5%;
        border-radius: 8px;
        padding: 0.2rem;
        background-color:var(--container-light);
        margin-bottom: 0.8rem;
    }
    .dashBoard_card {
        box-shadow: var(--box-shadow-container);
        border-radius: 0.5rem;
        border: var(--border-box-shadow-container);
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        height: 26vh;
        max-height: 26vh;
        margin-left: -5%;
    }
    
}

@media (min-width: 450px)  and  (max-width: 600px){
    .dashBoard_card {
        box-shadow: var(--box-shadow-container);
        border-radius: 0.5rem;
        border: var(--border-box-shadow-container);
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        height: 28vh;
        max-height: 28vh;
        margin-left: -3%;
    }
}

@media (min-width: 600px)  and  (max-width: 800px){
    .dashBoard_card {
        box-shadow: var(--box-shadow-container);
        border-radius: 0.5rem;
        border: var(--border-box-shadow-container);
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        height: 28vh;
        max-height: 28vh;
        margin-left: -2%;
    }
}

@media (min-width: 800px)  and   (max-width: 1200px){
    .dashBoard_card {
        box-shadow: var(--box-shadow-container);
        border-radius: 0.5rem;
        border: var(--border-box-shadow-container);
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        height: 38vh;
        max-height: 38vh;
        margin-left: 20%;
       
    }

    .dashBoardCard_hex {
        color: var(--plaholder-color);
        border: var(--border-box-shadow-container);
        box-shadow: var(--box-shadow-container);
        outline: none;
        width: 60%;
        margin-left: 5%;
        border-radius: 8px;
        padding: 0.2rem;
        background-color:var(--container-light);
        margin-top: 1rem;
        margin-bottom: 0;
    }
}