.main_config-container {
    display: flex;
    width: 92%;
    margin-left: 8%;
    margin-top: 3%;
    max-height: 83vh;
}

.perfilConfig_container {
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;

}

.perfilConfig_img {
    background-color: transparent;
    margin-bottom: 1rem;
    margin-top: 15%;
    max-height: 10rem;
    max-width: 10rem;
}

.perfilConfig_text-container {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
     align-items: center;
    width: 80%;
    justify-content: center;
}

.perfilConfig_text-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--tittle-color);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.7rem;
}

.perfilConfig_text {
    font-size: 1rem;
    color: var(--tittle-color);

}

.perfilConfig_icons-container {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 1rem;
}

.perfilConfig_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfilConfig_input {
    height: 10%;
    width: 95%;
    border: none;
    background-color: transparent;
    margin-left: 2.5%;
    outline: none;
    margin-top: 1rem;
    color: var(--text-container-color);
}


.perfilConfig_form {
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    height: 12rem;
    width: 80%;
    background-color: var(--container-color);
    border-radius: 0.5rem;


}

.perfilConfig_input::placeholder {
    color: var(--text-container-color);
}