@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.header_home{
    display: flex;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #d0d0d0;
}
.img_lupa{
    height: 1rem;
}

.header_container_search{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-height: 2rem;
}

.links_header{
    color: black;
    font-size: 1rem;
    
    margin-top: 0.5rem;
}

.text{
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    color: black;
}

.logo_header{
font-weight: bold;
text-transform: uppercase;

}

.search_form_header{
    width: 50%;
    background-color:#F4F4F4;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding:0.1rem 1rem;
    

}

.input_search_header{
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none ;}

.button_header_search{
    border: none;
    background-color: transparent;
   }






