li{
    list-style-type: none;
    margin: 0px;
}


.nav_icon_imgs{
   
    width: 3rem;
 }

 .container_lateral_bar{
    display: flex;
    flex-direction: column;
    background-color: var( --body-color);
    width: 5rem;
    height:100vh;
    justify-content: center;
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: var(--box-shadow-container);
    border: var(--border-box-shadow-container);
}

.container_icons_lateral_bar{
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;

}

.first_nav_icon{
    margin-bottom: 1rem;
}

.last_nav_icon {
    margin-top: 8rem;
}