.chats_container_notifications {
    width: 20%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    height: 88vh;
}


.chats_cards_notifications {
    display: flex;
    border-bottom: var(--border-box-shadow-container);
    width: 90%;
    padding: 1rem;
    
}

.chats_cards_notifications-text {
    margin-left: 1rem;
    margin-top: 1rem;
}

.chats_cards-text {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-top: 0.3rem;

}

.chats_cards_notifications-img {
    stroke: #ffffffc4;
}

.notifications-img {
    background-color: var(--container-img-notification);
    padding: 0.9rem;
    border-radius: 0.5rem;
}

.chats_cards_notifications-img-1 {
    width: 30%;
}

.chats_cards-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: -1rem;
    color: var(--tittle-color);
}


.search_form_chat {
    width: 80%;
    background-color: var(--container-search);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1.2rem;
    height: 1.5rem;
    margin-top: 10%;


}

.input_search_chat {
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
}

.button_search_chat {
    border: none;
    background-color: transparent;

}

.chat_card_conversas {
    display: flex;
    border: var(--border-box-shadow-container);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-container);
    margin-bottom: 0.5rem;
}

.chat_card_conversas-container {
    width: 100%;

    overflow-y: scroll;
    padding: 0rem 0.8rem;
    margin-top: 0.5rem;
}

.chats_cards_conversas-img {
    height: 3rem;
}

.chats_cards-title-conversas {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    font-weight: bold;
    
}

.chats_cards-text-conversas {
    font-size: 0.6rem;
    color: var(--text-color);
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.messages_number {
    background-color: red;
    color: var(--text-container-color);
    border-radius: 2rem;
    padding: 0rem 0.5rem;
    font-size: 0.8rem;
}

.chats_cards_conversas-texticon {
    margin-left: 22%;

}

.chats_cards_conversas-text {
    margin-left: 1rem;
    color: var(--text-color);
}

.card_final {
    border-top: var(--border-box-shadow-container);
    margin-top: 0.5rem;
}

.text_date-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 1rem;
}

.card_arquivos-abertos-container{
    display: flex;
    margin-top: 0.5rem;
}

.img_abreCard-arquivos:hover{
    cursor: pointer;
    transition: 0.5s;
}

.chat_card_conversas-container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

@media (min-width: 250px)  and  (max-width: 500px){
    .chats_container_notifications {
        width: 87%;
 
    }
    .chats_cards_notifications-text {
        margin-left: 1rem;
        margin-top: 1rem;
        width: 50vw;
        
    }

    .chats_cards_notifications-img {
        stroke: #ffffffc4;
        height: 5vh;
        width: 5vh;
    }
    .notifications-img {
        background-color: var(--container-img-notification);
        padding: 0rem;
        border-radius: 0.5rem;
        height: 5vh;
        width: 5vh;
        
    }

    .search_form_chat {
        width: 80%;
        background-color: var(--container-search);
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 1.2rem;
        height: 0.8rem;
        margin-top: 10%;
    
    
    }
    .chat_card_conversas {
        display: flex;
        border: var(--border-box-shadow-container);
        padding: 0.2rem;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow-container);
        margin-bottom: 0.5rem;
    }
    .chats_cards_conversas-img {
        height: 2rem;
        margin-top: 0.5rem;
    }
    .chat_card_conversas-container {
        width: 100%;
        max-height: 35vh;
        overflow-y: scroll;
        padding: 0rem 0.8rem;
        margin-top: 0.5rem;
    }
    .chats_cards_notifications {
        display: flex;
        border-bottom: var(--border-box-shadow-container);
        width: 90%;
        padding: 1rem;
        margin-top: 2%;
    }

    .chat_card_conversas:hover {
      cursor: pointer;
    }

    .chats_cards_notifications:hover {
        cursor: pointer;
    }
}   