.menssager_container {
    display: flex;
    flex-direction: row;
}

.opened_chat-container {
    width: 40%;
    padding: 1.8rem;

}


.opened_chat_name-container {
    display: flex;
    margin-top: 0.5rem;
    border-bottom: var(--border-container-color);
    padding-bottom: 1rem;
}

.online_off {
    display: flex;
    padding-top: 0.2rem
}

.img_online {
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.opened_chat-name {
    font-weight: bold;
    font-size: var(--tamanho-font);
    color: var(--tittle-color);
}

.img_profile_chat {
    margin-top: 0.5rem;
    margin-right: 1rem;
}


.icon_opitions_opened_chat-conteiner {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 50%;

}

.icon_opitions_opened_chat {
    height: 0.5rem;
    margin-top: 0.2rem;
    background-color: var(--span-color);
    border-radius: 1rem;
}

.text_box-container {
    padding: 0 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 0.5rem;
    margin-top: -5%;

}

.text_box {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding: 0.5rem 0rem;
    margin-left: 1rem;
}

.text_box-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 2.5rem;
}

.text_box-button:hover{
    cursor: pointer;
    transition: 0.5s;
}

.text_box-form {
    border: none;
    width: 90%;
    margin-left: 1rem;
    outline: none;
    background-color: transparent;

}

.text_box-button-img-add {
    height: 1rem;
    background-color: var(--span-color);
    padding: 0.5rem;
    border-radius: 100%;
}

.text_box-button-img-nav {
    height: 2rem;
}

.chat_response-container {
    display: flex;
    margin-top: 1rem;
}

.user_img_chat {
    height: 2.5rem;
}

.chat_response_text {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.chat_response {
    background-color: var(--span-color);
    margin-left: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    color: var(--text-container-color)
}

.chat_response-hour {
    width: 70%;
    margin-left: 30%;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: var(--text-color);
}

.chat_message_text {
    display: flex;
    flex-wrap: wrap;

}

.chat_message {
    background-color: #C4C4C4;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text-container-color);
    margin-left: 60%;
}

.chat_message-hour {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: var(--text-color);
    margin-left: 80%;
}

.chat_response_archive {
    background-color: var(--span-color);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.chat_response_archive img {
    width: 50%;
    height: 100%;
}

.chat_response_mb {
    background-color: var(--span-color);
    margin-left: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    color: var(--text-container-color);
    font-size: 0.95rem;
}

.chat_container {
    overflow-y: scroll;
    max-height: 53vh;
    margin-bottom: 8%;
}

.chat_text-data {
    margin-left: 35%;
    margin-top: 2rem;
    color: var(--text-color);
}

.chat_container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.button_aberto{

    display: flex;
    flex-direction: column;
    z-index: 1;
    position: static;
    align-items: start;
    position: absolute;
   margin-top: -11rem;
   margin-left: 1rem;
}

.text_button-aberto{
    background-color: var(--container-tutorial) ;
    padding: 0.3rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    color: var(--tittle-color);
}

.list_chatOpened-container{
    position: fixed;
    z-index: 1;
    margin-left: 25%;
    margin-top: -1.8rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color) ;
}

.icon_opitions_opened_chat-conteiner:hover{
    cursor: pointer;
    transition: 0.5s;
}

.card_confirmation-chat{
    background-color:var( --container-light);
    position: fixed;
    z-index: 1;
    margin-top: 4rem;
    margin-left: 5%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color) ;
    height: 24vh;
    width: 26rem;

}
.card_confirmation-chat-fechar{
    background-color: var(--span-color);
    width: 104%;
    margin-left: -1rem;
    margin-top: -1rem;
    border-radius:  0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.card_confirmation-chat-title{
    font-size: var(--tamanho-font);
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}


.blue_title{
    color: var(--span-color);
}

.card_confirmation-chat-subtitle{
    margin-top: 1rem;
    text-align: center;
}

.card_confirmation-chat-buttons-container{
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    height: 2rem;
    
}

.socialChart{
    max-width: 20%;
    position: fixed;
    z-index: 3;
    max-height: 45vh;
    margin-top: 8%;
    margin-left: 2.1rem;
    
}

.card_confirmation-menuAtend {
    background-color:var( --container-light);
    position: fixed;
    z-index: 3;
    margin-top: 4rem;
    margin-left: 5%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color) ;
    height: 55vh;
    width: 20rem;
   
}
.minhaEquipe_titles {
    font-size: 1rem;
    color: var(--text-container-color);
    margin-left: 0.5rem;
    color: var(--text-container-color);
}

.socialChart_ul{
    overflow-y: scroll;
    max-height: 50vh;
}

.social_titles_separation_graficos {
    background-color:aqua;
    padding: 0.5rem 1rem;
    width: 120%;
    margin-bottom: 0.5rem;

}

.card_confirmation-menuAtend-title{
    background-color: var(--span-color);
    width: 105%;
    margin-left: -1rem;
    margin-top: -1rem;
    border-radius:  0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 1rem;
}

.chat_card_filtro:hover, .card_confirmation-chat-fechar:hover{
    cursor: pointer;
    transition: 0.5s;
}


.social_titles_separation_graficos{
    max-width: 88%;
}
.socialChart_ul::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

@media (min-width: 250px)  and  (max-width: 500px){

    .opened_chat-container {
        width: 95%;
        padding: 0rem;
        margin-left: 2.5%;
        margin-top: 5%;
        
    }
    
.img_profile_chat {
    margin-top: 1rem;
    margin-right: 0.6rem;
    width: 3rem;
    height: 3rem;
}
.opened_chat_name-container {
    display: flex;
    margin-top: 30%;
    border-bottom: var(--border-container-color);
    padding-bottom: 1rem;
    width: 90%;
}
.opened_chat-name {
    font-weight: bold;
    font-size: 0.95rem;
    color: var(--tittle-color);
    
    width: 100%;
}

.icon_opitions_opened_chat-conteiner {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 20%;

}
.chat_container {
    overflow-y: scroll;
    max-height: 36vh;
    margin-bottom: 8%;
}
.card_confirmation-menuAtend {
    background-color:var( --container-light);
    position: fixed;
    z-index: 3;
    margin-top: 0rem;
    margin-left: 0%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color) ;
    height: 55vh;
    width: 80%;
   
}
.socialChart_ul{
    overflow-y: scroll;
    width: 100%;
    max-height: 50vh;
}

.card_confirmation-chat{
    background-color:var( --container-light);
    position: fixed;
    z-index: 1;
    margin-top: 4rem;
    margin-left:-1%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color) ;
    height: 24vh;
    width: 86%;

}
}