:root {
    background-color: var(--body-color);
    overflow-x: hidden;
}

.svg {
    stroke: var(--svg);

}

.svg:hover {
    stroke: var(--container-color);

    transition: 0.5s;
}

.text {
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    
}

.header_home {
    display: flex;
    width: 100%;
    height: 3rem;
    border: var(--border-box-shadow-container);

}

.img_lupa {
    height: 1rem;
}

.header_container_search {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-height: 2rem;
}

.links_header {
    color: var(--tittle-color);
    font-size: 1rem;
    margin-top: 0.5rem;
}



.logo_header {
    font-weight: bold;
    text-transform: uppercase;

}

.search_form_header {
    width: 40%;
    background-color: var(--container-search);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 1.5rem;
    margin-top: 0.2rem;


}

.input_search_header {
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
}

.button_header_search {
    border: none;
    background-color: transparent;
}


.img_icon_header {
    height: 1.2rem;
    margin-left: 0.3rem;
    margin-top: -1rem;


}


.header_search_icons_container {
    display: flex;
    width: 80%;
    margin-left: 0rem;
}

.detail_boards {
    width: 2%;
    height: 48%;
    margin-top: 0.4rem;
    margin-right: 5rem;
}

.icon_person_header {
    height: 1.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-top: 0.5rem;
}

.list_meuPerfil-container{
    
    z-index: 1;
    position: fixed;
    margin-top: 1rem;
    margin-left: 3.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color) ;
}

.list_meuPerfil-text{
    background-color: var(--container-tutorial);
    padding: 0.5rem;
    
    width: 8rem;
}

.border_meuPerfil-list{
    border-top: 1px solid var(--text-color);
    border-bottom:1px solid var(--text-color) ;
}

.list_meuPerfil-text:hover{
    cursor: pointer;
    color: var( --span-color);
    transition: 0.5s;
}


.menu_notifications-container{
    background-color: var(--container-tutorial);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    margin-left: -21%;
    margin-top: 1rem;
    height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 1rem;
    width: 22%;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color) ;
}

.card_menuNotifications-title{
    font-weight: bold;
}

.card_menuNotifications-subtitle{
    font-size: 0.875rem;
    margin-top: 0.3rem;
}

.card_menuNotifications{
    display: flex;
    width: 90%;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-evenly;
   
}

.menuNotifications-text{
    width: 70%;
}

.menuNotifications-title {
    font-size: 2.063rem;
    margin-left: 3%;

}

.menuNotifications-subtitle{
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-left: 3%;
}

.img_card_menuNotifications{
    margin-right: 1.8rem;
}


.menu_notifications-container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.notification_icon:hover{
    cursor: pointer;
    transition: 0.5s;
}


input::placeholder {
    color: var(--text-color);
}


.container_nav_mobile{
    display: none;   
}

.voltar_page-container{
    display: none;
}

@media (min-width: 250px)  and  (max-width: 500px){
    .header_home{
        display: none;
    }

    .nav_icon_imgs-mobile{
        width: 1.5rem;
       
    }

    .nav_icon_imgs-mobile:hover{
        cursor: pointer;
    }
    .listaIcons_nav_mobile{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .container_nav_mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: var(--container-light);
        z-index: 5;
        position: fixed;
        margin-top: 78vh;
        margin-left: 16vw;
        width: 70vw;
        border: var(--border-box-shadow-container);
        box-shadow: var(--box-shadow-container);
        border-radius: 0.5rem;
        height: 3rem;
        
    }

    .voltar_page-container{
        background-color: var(--container-light);
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-bottom: var(--border-box-shadow-container);
        box-shadow: var(--box-shadow-container);
        margin-top: 0%;
        position: fixed;
        width: 90%;
        padding-top: 1.5rem;
    }

    .voltar_page-icon{
        transform: rotate(180deg);
        background-color: var(--container-light);
        border-radius: 0.5rem;
    }


    .voltar_page-icon:hover{
        cursor: pointer;
    }
    .voltar_page-icon-person{
        height: 1.8rem;
        margin-top: 0.3rem;
    }

    .menu_notifications-container{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 3;
        margin-left: -0%;
        margin-top: 12vh;
        height: 58vh;
        max-height: 60vh;
        overflow-y: scroll;
        padding: 1rem;
        width: 88%;
        border-radius: 0.5rem;
        border: none;
        
    }

    .nav_icon_imgs-mobile-bar:hover{
        cursor: pointer;
    }

    

}

