@media (min-width: 250px)  and   (max-width: 1200px){

    .container_lateral_bar{
        display: none;
    }

    .container_nav_mobile-bar{
        background-color: var(--svg);
        width: 20%;
        position: fixed;
        margin-top: 26.5vh;
        z-index: 8;
        margin-left: 12vw;
        border-radius: 0.5rem;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav_icon_imgs-mobile-bar{
        background-color: var(--container-light);
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
    }
    .listaIcons_nav_mobile-bar{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
       
    }
    .listaIcons_nav_mobile-bar:hover{
        cursor: pointer;
    }

    .hidden_mobile{
        display: none;
    }
}


 
@media (min-width: 450px)  and  (max-width: 600px){
    .container_nav_mobile-bar{
        background-color: var(--svg);
        width: 3rem;
        position: fixed;
        margin-top: 26vh;
        z-index: 8;
        margin-left: 25%;
        border-radius: 0.5rem;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .hidden_mobile{
        display: none;
    }
}

 
@media (min-width: 600px)  and   (max-width: 1200px){
    .container_nav_mobile-bar{
        background-color: var(--svg);
        width: 3rem;
        position: fixed;
        z-index: 8;
        margin-left: 32%;
        border-radius: 0.5rem;
        height:50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
       
    }
    .hidden_mobile{
        display: none;
    }
}