


.container_nav_configBot{
    display: flex;
    width: 80% ;
    align-items: center;
    margin-left: 10%;
    background-color: var(--container-light);
    justify-content: space-evenly;
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    margin-top: 1.3rem;
    padding: 0.5rem;
}

.title_crm-container {
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
    color: var(--tittle-color);
    width: 80%;
    flex-wrap: wrap;
}


.icons_mobile{
    display: none;
}
.container_configBot-top{
    display: flex;
    width: 80% ;
    align-items: center;
    margin-left: 10%;
    background-color: var(--container-light);
    justify-content: space-evenly;
    border-radius: 0.5rem 0.5rem  0 0;
    border: var(--border-box-shadow-container);
    margin-top: 1.3rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.container_configBot-body{
    display: flex;
    width: 80% ;
    align-items: center;
    margin-left: 10%;
    background-color: var(--container-light);
    justify-content: space-evenly;
    border-radius:  0 0 0.5rem 0.5rem ;
    border: var(--border-box-shadow-container);
    padding: 0.5rem;
    border-top: none;
}
.container_configBot{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 4rem;
    justify-content: space-evenly;
    margin-left: 10%;
}

.icons_title_bot {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    margin-left: 0.5rem;
    border-left: 1px solid var(--text-color);
    padding-left: 1rem;
    height: 1.8rem;
}

.icons_title_bot-text {
   font-size: 0.8rem;
   margin-left: 0.5rem;
   
}

.icons_bot{
    height: 1rem;
}

.title_bot{
    font-size: var(--tamanho-font);
    color: var(--tittle-color);
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 0.4rem;
   
}

.container_icons-bot{
    display: flex;
    
}

.container_icons-bot1{
    display: flex;
    
}
.icons_title_bot-text:hover{
    color: var(--span-color);
    cursor: pointer;
}

.chatbot-text{
    font-size: 0.8rem;
}

.container_configBot-button{
    width: 25%;
}

.icons_dias_bot{
    display: flex;
    margin-top: 0.8rem;
    align-items: center;
    margin-left: 0.5rem;
    padding-left: 1rem;
    height: 1.8rem;
    width: 100%;
    
}

.container_dias-bot{
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icons_dias_bot-text{
    font-size: 1rem;
    margin-left: 0.5rem;
    font-weight: bold;
    width: 10rem;
}

.input_time-bot{
    padding: 0.3rem;
    margin-left: 2.3rem;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--container-light);
    color: var(--plaholder-color) ;
    font-size: 1rem;
}



.input_fuso-bot{
    padding: 0.3rem;
    background-color: var(--container-light);
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    outline: none;
    width: 60%;
    color: var(--plaholder-color);
}

.input_fuso-bot::placeholder{
    color: var(--plaholder-color);
}

.input_fuso-bot-label{
    font-weight: bold;
    width: 100%;
}

.container_dias-bot-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -38vh;
    height: 10vh;
    justify-content: space-evenly;
}

.config_chatBot-content{
    overflow-y: scroll;
    max-height: 90vh;
}

.container_registro-bot{
    width: 90%;
    display:flex ;
    flex-wrap: wrap;

}

.container_registro-bot-title{
    width: 67%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.form_registros{
    width: 45%;
    max-height: 21vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.input_container-registros{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.input_container-Faq{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 100%;
    
}

.form_faq{
    width: 60%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    max-height: 50vh;
    overflow-y: scroll;
}


.input_faq-bot-label {
    font-weight: bold;
    width: 40%;
    margin-left: 2rem;
}

.input_faq-bot{
    padding: 0.3rem;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    outline: none;
    width: 60%;
    height: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: var(--container-light);
    color: var(--plaholder-color);
}

.input_faq-bot-small{
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    outline: none;
    width: 65%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: var(--container-light);
    color: var(--plaholder-color);
}


.input_faq-bot-small::placeholder{
    color: var(--plaholder-color);
}



.container_configBot-faq{
    display: flex;
    width: 80% ;
    margin-left: 10%;
    background-color: var(--container-light);
    justify-content: space-evenly;
    border-radius: 0.5rem 0.5rem  0 0;
    border: var(--border-box-shadow-container);
    margin-top: 1.3rem;
    padding: 0.5rem;
    
    height: 80vh ;
    
}

.container_registro-faq{
    width: 100%;
    display:flex ;
    flex-wrap: wrap;
    padding: 1rem;
    padding-left: 2rem;

}

.margin_left{
    margin-left: 1rem;
}



.faq_message_img{
    width: 100%;
    height: 90%;
    margin-left: -50%;
    margin-top: 24%;
    background-color: #fff;
}

.background_gray{
    background-color:var( --container-tutorial);
}

.card_Tutorial{
    margin-top: -40%;
    margin-left: 40%;
}

.form_faq::-webkit-scrollbar{
    width: 5px;
}

.config_chatBot-content::-webkit-scrollbar{
    width: 8px;
}

.config_chatBot-content::-webkit-scrollbar-thumb{
    background-color: #d4d4d4;
    border-radius: 0.5rem;
}


@media (min-width: 250px)  and  (max-width: 500px){
  
.container_nav_configBot{
    display: flex;
    width: 88% ;
    align-items: center;
    margin-left: 5%;
    background-color: var(--container-light);
    justify-content:start;
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    margin-top: 1.3rem;
    padding: 0.5rem;
    flex-wrap: wrap;
   
}
.icons_title_bot-text {
    font-size: 0.6rem;
    margin-left: 0.5rem;
    
 }
    
    .title_bot{
        font-size: 0.9rem;
        color: var(--tittle-color);
        font-weight: bold;
        margin-right: 1rem;
        margin-top: 0.4rem;
       
    }
    .chatbot-text{
        font-size: 0.6rem;
    }
    .container_configBot{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 4rem;
        justify-content: space-evenly;
        margin-left: 10%;
    }
    
.container_configBot-button{
    width: 80%;
    margin-top: 5%;
}

.container_configBot-body{
   display: flex;
   width: 80%;
   align-items: center;
   margin-left: 10%;
   background-color: var(--container-light);
   justify-content: space-evenly;
   border-radius:  0 0 0.5rem 0.5rem ;
   border: var(--border-box-shadow-container);
   padding: 0.5rem;
   border-top: none;
   flex-direction: column;
   max-height: 100vh;
   margin-top: 0%;
  
}
.container_registro-faq{
    width: 100%;
    display:flex ;
    flex-wrap: wrap;
    padding: 1rem;
    padding-left: 2rem;
    
    max-height: 100vh;

}

.config_chatBot-content{
    overflow-y: scroll;
    max-height: 90vh;
    width: 100vw;
    
}
.container_dias-bot{
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
    margin-top: 1rem;
}

.icons_dias_bot-text{
    font-size: 0.7rem;
    margin-left: 0.5rem;
    font-weight: bold;
    width: 45%;
    
}

.icons_dias_bot{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    margin-left: 0.5rem;
    padding-left: 0rem;
    width: 98%;
    flex-wrap: nowrap;
}

.icons_bot{
    height: 0.7rem;
}
.input_time-bot{
    padding: 0.3rem;
    margin-left: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--container-light);
    color: var(--plaholder-color) ;
    width: 30%;
    margin-top: 0.5rem;
    font-size: 0.55rem;
}

.container_registro-bot{
    width: 90%;
    display:flex ;
    flex-wrap: wrap;
    flex-direction: column;

}
.form_registros{
    width: 100%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.faq_message_img{
    width: 100%;
    height: 30%;
    margin-left: 0%;
    margin-top: -70%;
    
    
}

.container_dias-bot-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0vh;
    height: 10vh;
    justify-content: space-evenly;
}

.input_fuso-bot{
    padding: 0.3rem;
    background-color: var(--container-light);
    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    outline: none;
    width: 80%;
    color: var(--plaholder-color);
}

.container_registro-bot-title{
    width: 110%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
}

.title_bot{
    font-size: 0.89rem;
    color: var(--tittle-color);
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 0.4rem;
    width: 100%;
}

.input_container-Faq{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.input_fuso-bot-label{
    font-weight: bold;
    width: 100%;
    font-size: 0.75rem;
   
}

.form_faq{
    width: 100%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    max-height: 100vh;
    overflow-y: scroll;
}

.input_faq-bot-label {
    font-weight: bold;
    width: 100%;
    margin-left: 0rem;
    font-size: 0.75rem;
}

.margin_left{
    margin-left: 0rem;
}


.br{
    display: none;
}

.title_crm-container {
    display: flex;
    margin-left: 0%;
    margin-top: 10%;
    color: var(--tittle-color);
    width: 100%;
    flex-wrap: nowrap;
}
.container_icons-bot{
    display: flex;
    flex-wrap: wrap;
}
.icons_title_bot {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    margin-left: 2%;
    border-left: 1px solid var(--text-color);
    padding-left: 0.3rem;
    height: 1rem;
    width: 28%;

}

.container_icons-bot1{
    display: none;
    
}
.icons_mobile{
    display: flex;
}
}