.filtro_everest_chat-container {
    width: 24%;
    height: 22%;
    background-color: var(--container-color);
    border-radius: 2rem 0rem 0rem 0rem;
    border: var(--border-box-shadow-container);

}


.filtro_everest_chat-search-logo {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5rem;

}

.filtro_everest_chat-search {
    width: 100%;
    padding-bottom: 3rem;
    margin-top: 20%;

}

.filtro_everest_chat-title {
    color: var(--text-container-color);
    margin-top: 0.5rem;
    font-size: var(--tamanho-font);
    font-weight: bold;
}

.close_button {
    background-color: transparent;
    border: none;
    color: var(--text-container-color);
    font-size: var(--tamanho-font);
    font-weight: bold;
}

.logo_everest {
    display: flex;
}


.input_search_filtro {
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
}

.button_search_filtro {
    border: none;
    background-color: transparent;

}

.search_form_filtro {
    width: 70%;
    background-color: var(--container-search);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1.2rem;
    height: 1.5rem;
    margin-top: 10%;
    margin-left: 8%;

}


.filtro_everest_chat-arquivos {
    border-radius: 2.2rem 0rem 0rem 0rem;
    background-color: var(--container-light);
    margin-top: 1rem;

    padding: 3rem 1rem;
}

.filtro_everest_chat-arquivos-buttons-container {
    display: flex;
    justify-content: space-evenly;
    z-index: 6;
    position: absolute;
    width: 24%;
}

.filtro_everest_chat-arquivos-buttons {
    border: none;
    background-color: var(--container-tutorial);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    width: 6rem;
    color: var(--svg);
    font-size: 1rem;
    font-weight: 500;
    box-shadow: var(--border-box-shadow-container);
}

.filtro_everest_chat-arquivos-buttons-container1 {
    width: 100%;
    height: 50%;
    display: flex;
}


.chat_card_filtro-container1 {
    width: 100%;
    height: 36vh;
    max-height: 36vh;
    cursor: pointer;
    padding: 0rem 0.8rem;
    margin-top: 0.5rem
}

.button_evidencia text {
    display: flex;
}

.button_evidencia{
    background-color: var(--container-lateral-bar);
    color: var(--text-container-color);
}

.filtro_everest_chat-arquivos-buttons:hover {
    background-color: var(--svg);
    cursor: pointer;
    transition-delay: 100ms;
    color: var( --container-light);
    transition: 0.5s;
}

.button_evidencia:hover{
    background-color: var(--container-lateral-bar);
    color: var(--text-container-color);
    transition: 0.5s;
}

.filtarPor_img {
    height: 2rem;
}

.filtro_everest_chat-arquivos_filtrarPor {
    display: flex;
}

.filtro_everest_chat-arquivos_filtrarPor:hover{
    cursor: pointer;
    transition: 0.5s;
}
.filtarPor_text {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: var(--tittle-color);
}


.chat_card_filtro {
    display: flex;
    border: var(--border-box-shadow-container);
    padding: 0.2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-container);
    margin-bottom: 0.5rem;
}

.chat_card_filtro-container {
    width: 100%;
    height: 36vh;
    max-height: 32vh;
    overflow-y: scroll;
    padding: 0rem 0.8rem;
    margin-top: 0.5rem
}

.chat_card_filtro-container-filtarPor {
    width: 100%;
    height: 36vh;
    max-height: 36vh;
    overflow-y: scroll;
    padding: 0rem 0.8rem;
    margin-top: 0.5rem
}


.chats_cards_filtro-img {
    height: 2.5rem;
}

.chats_cards-title-filtro {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: var(--tittle-color);
}

.chats_cards-text-filtro {
    font-size: 0.6rem;
    color: var(--text-color);
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}



.chats_cards_filtro-texticon {
    margin-left: 22%;
}

.chats_cards_filtro-text {
    margin-left: 1rem;
}

.chat_card_filtro-container {
    margin-top: 1rem;
}

.chat_card_filtro-container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.filtro_aberto-buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-left: 8%;
    margin-top: 1rem;
}

.aberto-buttons{
    width: 48%;
    margin-bottom: 2rem;
}

.subtitle_filtro-aberto{
    color: var(--tittle-color);
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
}

.aberto-buttons-fora {
    width: 48%;
}

.filtro_aberto-buttons-container-fora{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    margin-top: -3rem;
    width: 20%;
    margin-left: 0.3rem;
    background-color: var(--container-light);
    padding-top: 0.2rem;
}

.svg_messages{
    background-color: var(--span-color);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

@media (min-width: 250px)  and  (max-width: 500px){
    .filtro_everest_chat-container {
        width: 100%;
        height: 50vh;
        background-color: var(--container-color);
        border-radius: 2rem 0rem 0rem 0rem;
        border: var(--border-box-shadow-container);
        margin-left: -0%;
        margin-top: 8%;
        
    }
    
    
    
.filtro_everest_chat-arquivos-buttons-container {
    display: flex;
    justify-content: space-evenly;
    z-index: 6;
    position: absolute;
    width: 98%;
}

.filtro_everest_chat-arquivos-buttons {
    border: none;
    background-color: var(--container-tutorial);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    width: 90%;
    color: var(--svg);
    font-size: 1rem;
    font-weight: 500;
    box-shadow: var(--border-box-shadow-container);
    margin-left: 1%;
}

.chat_card_filtro-container {
    width: 95%;
    height: 20vh;
    max-height: 20vh;
    cursor: pointer;
    padding: 0rem 0.8rem;
    margin-top: 0.5rem;
  
   
}
.chat_card_filtro-container-filtarPor {
    width: 100%;
    height: 15vh;
    max-height: 15vh;
    overflow-y: scroll;
    padding: 0rem 0.8rem;
    margin-top: 0.5rem;

}
.filtro_aberto-buttons-container-fora{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    margin-top: -13rem;
    width: 90%;
    margin-left: -8%;
    background-color: var(--container-light);
    padding-top: 0.2rem;
}


.aberto-buttons-fora {
    width: 48%;
}

.aberto-buttons{
    width: 49%;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}
.filtro_everest_chat-arquivos {
    border-radius: 2.2rem 0rem 0rem 0rem;
    background-color: var(--container-light);
    margin-top: 1rem;
    position: fixed;
    width: 95%;
    margin-left: -1%;
    padding: 3rem 1rem;
}
}