.everstPay_title-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 90%;
    margin-top: 1rem;
}

.everstPay_title {
    font-size: var(--tamanho-font);
    color: var(--text-container-color);
    font-weight: bold;
    margin-left: 0.5rem;
}

.everestPay-contaiener {
    background-color: var(--container-color);
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.9rem;
    align-items: center;
    width: 35%;
    justify-content: space-evenly;
    height: 0%;
    margin-left: 1rem;
}

.everestPay_subtitle {
    color: #F4F4F4;
    width: 85%;
}


.everestPay_valores1 {
    color: #fff;
}

.tipoPagamento_select-text2 {
    color: #fff;
}

.icon_mastercard {
    width: 6%;
    height: 0.8rem;
    margin-top: -1.4rem;
    margin-left: 0.4rem
}

.icon_mastercard-pagamentos{
    width: 6%;
    height: 6%;
    margin-top: -1.4rem;
    margin-left: 0.4rem

}

.cartao_card-container {
    margin-top: 1rem;
    display: flex;
    width: 90%;
    margin-bottom: 1.5rem;
}

.cartao_card {
    border: 1px solid #fff;
    height: 4.688rem;
    max-height: 4.688rem;
    width: 6.688rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
}

.listaPagameto_item1 {
    color: var(--subtittle-color);
    width: 100%;
   
}

.img_cartao-card {

    width: 2.5rem;
}

.tipoPagamento_select-everestPay {
   background-color: var(--subtittle-color);
}

.tipoPagamento_select-text {
    color: var(--text-container-color);
}

.everestPay_form-input {
    width: 100%;
    background-color: var(--container-light);
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: none;
    color: var(--plaholder-color);
    outline: transparent;
}


.everestPay_form-input1 {
    width: 40%;
    background-color: var(--container-light);
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: none;
    color: var(--plaholder-color);
    outline: none;
}


.everestPay_form-input::placeholder{
    color: var(--plaholder-color);
}

.everestPay_form-input1::placeholder{
    color: var(--plaholder-color);
}

.everestPay_form {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tipoPagamento_select-everestPay{
    width: 85%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    background-color: var(--container-lateral-bar);
    border: none;
    cursor: pointer;
}

.listaPagameto_container2 {
    width: 27.8%;
    margin-top: 20.2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    background-color: var(--container-light);
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 1;
}


.listaPagamento_container1 {
    width: 44%;
    margin-top: -1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    background-color: var(--container-light);
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 1;
}

.everestPay_valores-container{
    width: 85%;
    height: 4%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}


.everestPay_valores{
    color: var(--text-color);
}

.everestPay_checkout-text {
    font-size: 1.25rem;
    color: #fff; 
    
}
.everestPay_checkout-text2{
    font-size: 1.25rem;
    color: #fff; 
    margin-left: 9rem;
}

.everestPay_checkout-text:hover{
    cursor: pointer;
}

.everestPay_checkout-container {
    background-color: var(--container-lateral-bar);
    width: 85%;
    padding: 1rem;
    display: flex;
    border-radius: 0.5rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.minhas_compras-pagamentoMensal{
    margin-left: 40.2%;
    
}

.mobile_descontos{
    display: none;
}



@media (min-width: 250px)  and  (max-width: 500px){
    .everestPay-contaiener {
        background-color: var(--container-color);
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.9rem;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        margin-left: -3%;
        width: 95%;
        padding: 0.5rem;
    }

    .hidden_mobile{
        display: none;
    }


    .mobile_descontos{
        padding: 0.5rem;
        margin-left: -3%;
        width: 95%;
    }
    
.everestPay_checkout-text {
    font-size: 1.25rem;
    color: #fff; 
    margin-left: 0rem;
}

.everestPay_checkout-text2{
    font-size: 1.25rem;
    color: #fff; 
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

.listaPagamento_container1 {
    width: 44%;
    margin-top: -1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    background-color: var(--container-light);
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.listaPagameto_container2 {
    width: 72%;
    margin-top: -1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    background-color: var(--container-light);
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-left: -2%;
    
}


.minhas_compras-pagamentoMensal{
    margin-left: -30%;
    margin-top: -0.9rem;
  
}

}