.minhasCompras_everest-container-main {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin-left: 10%;
   margin-top: 2%;


}


.minhasComprasEverest_title{
   font-size: var(--tamanho-font);
    font-weight: bold;
    margin-top: 2rem;
    border-bottom: var(--border-box-shadow-container);
    padding-bottom: 1rem;
   }

.minhasComprasEverest_title{
   font-size: var(--tamanho-font);
   font-weight: bold;
   margin-top: 2rem;
   color: var(--tittle-color);
   border-bottom: var(--border-box-shadow-container);
   padding-bottom: 1rem;
}
 .icon_minhasCompras{
    background-color: var(--subtittle-color);
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
 }
.minhasCompras_everest-container {
   margin-top: 1rem;
}


.icon_minhasCompras {
   background-color: #2A8BF2;
   padding: 0.8rem;
   border-radius: 0.5rem;
   width: 1.5rem;
   max-height: 1.5rem;
}

 .minhasCompras_card{
   background-color: var( --container-lateral-bar);
    margin-left: 1rem;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    max-height: 65vh;
    border-radius: 0.9rem;
    justify-content: space-evenly;
 }

.minhasCompras_everest-container {
   display: flex;
   width: 100%;
}

.minhasCompras_card {
   background-color: var(--container-color);
   margin-left: 1rem;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 65vh;
   max-height: 65vh;
   border-radius: 0.9rem;
   justify-content: space-evenly;
}

.img_everestMinhasCompras-card {
   width: 1rem;
   height: 1rem;
   margin-right: 0.5rem;
}

.minhasCompras_card-img_text {
   display: flex;

}

.minhasCompras_button-card {
   width: 30%;
   color: #fff;
} 

.number_minhasCompras-card {
   color: #f4f4f4df;
   font-size: 0.8rem

}


.valores_container {
   width: 5rem;
   margin-right: 1rem;
}

.bold {
   font-weight: bold;
}

.minhasCompras_button_container-card {
   height: 3rem;
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin-bottom: 2rem;
 }

 .minhasCompras_button-card{
   
   height: 70%;
   
}

.minhasCompras_button-card {
   width: 80%;
   padding: 0rem;
   font-size: 0.8rem;
   border-radius: 0.5rem;
   border: none;
   background-color: var(--container-lateral-bar);
   color: #fff;
   cursor: pointer;
   margin-bottom: 1.5rem;
   margin-left: 1rem;
}

.img_everestPay {
   margin-top: 2rem;
}


.background_red {
   background-color: #FF4F4F;
   width: 100%;
}

.minhasCompras_card-container {
   margin-left: 1rem;
   width: 50%;

}

.background_green {
   background-color: #4CE364;
   width: 100%;

}


.background_white {
   width: 100%;
   background-color: #fff;
   color: #2A8BF2;
   box-shadow: var(--box-shadow-container);
   border-radius: 0.5rem;
   border: var(--border-box-shadow-container);
}

.minhasCompras_button_container {
   height: 3rem;
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin-left: 10%;
   padding-top: 0.5rem;
}

.minhasCompras_button-card1 {
   font-size: 0.8rem;
   color: var(--subtittle-color);
}

.minhasCompras_button_container1 {
   height: 2rem;
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin-left: 10%;
   padding-top: 0.5rem;
}


.everestPay_valores1 {
   font-size: 0.95rem;
   color: #fff;
}


.tipoPagamento_select-text {
   color: var(--tittle-color);
   margin-top: 1rem;
}

.tipoPagamento_select-text1 {
   color: #fff;
    width: 88.2%;
   height: 110%;
    border-radius: 4px;
     padding-top: 0rem;
     margin-top: 0.1rem;
}

.everstPay_title {
   color: #fff;
    font-size: 1.1rem;
     margin-top: 2rem;
}

.everestPay_valores-bold {
   color: #fff;
   font-size: 0.8rem
}

.everestPay_valores text{
   color: #fff;
   font-size: 0.8rem
}


.select_page {
   background-color: var(--container-lateral-bar);
   width: 80%;
}


.pagamento_fora{
   width: 30%;
   
}

.listaPagameto_item {
   color: var(--subtittle-color);
}


.listaPagameto_container {
   width: 61.5%;
   margin-left: 33.5rem;
   margin-top: -2rem;
   position: fixed;
   z-index: 1;
}

.listaPagamento {
   background-color: var(--container-light);
   border-radius: 0 0 0.5rem 0.5rem;
   padding: 0.5rem;
   width: 33.5%;
}

.listaPagamento2{
   background-color: var(--body-color);
   border-radius: 0 0 0.5rem 0.5rem;
   padding: 0.5rem;
   width: 33.5%;
}


.select_page-item{
   box-shadow: var(--box-shadow-container);
   border-radius: 0 0  0.5rem  0.5rem  ;
   border: var(--border-box-shadow-container);
}



@media (min-width: 250px)  and  (max-width: 1300px){
   .select_page {
      background-color: var(--container-lateral-bar);
      width: 80%;
      
    
   }
   .pagamento_fora{
      width: 30%;
      
   }
.listaPagamento {
   background-color: var(--container-light);
   border-radius: 0 0 0.5rem 0.5rem;
   padding: 0.5rem;
   width: 148%;
   margin-left: -4%;
  
}

.listaPagamento2{
   background-color: var(--body-color);
   border-radius: 0 0 0.5rem 0.5rem;
   padding: 0.5rem;
   width: 139%;
   
}
.minhasCompras_everest-container {
   display: flex;
   width: 100%;
   flex-direction: column;
}

.minhasCompras_card-container {
   margin-left: -3%;
   width: 100%;
   margin-top: 1rem;
}

.listaPagameto_container {
   width: 61.5%;
   margin-left: -54%;
   margin-top: -2rem;
   position: relative;
   z-index: 1;
   
}

.minhasCompras_everest-container-main {
   display: flex;
   flex-direction: column;
   width: 50%;
   margin-left: 25%;
   margin-top: 2%;
   min-height: 270vh;

}

.listaPagameto_item {
   color: var(--subtittle-color);
   
}

}

@media (min-width: 500px)  and  (max-width: 600px){
   .listaPagamento {
      background-color: var(--container-light);
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 0.5rem;
      width: 142%;
      margin-left: 1%;
   
   }

   .listaPagamento2{
      background-color: var(--body-color);
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 0.5rem;
      width: 138%;
      margin-left: 3%;
   }
}

@media (min-width: 600px)  and  (max-width: 800px){
   .listaPagamento {
      background-color: var(--container-light);
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 0.5rem;
      width: 142%;
      margin-left: 1%;
   
   }
   .listaPagamento2{
      background-color: var(--body-color);
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 0.5rem;
      width: 138%;
      margin-left: 3%;
   }
       
}

@media (min-width: 800px)  and  (max-width: 1300px){
   .listaPagamento {
      background-color: var(--container-light);
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 0.5rem;
      width: 143%;
      margin-left: 0%;
     
   }
   .listaPagamento2{
      background-color: var(--body-color);
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 0.5rem;
      width: 138%;
      margin-left: 3%;
   }
   .pagamento_fora{
      width: 30%;
     
      margin-left: 23%;
   }
       
}