.x_fechar-container {

    background-color: var(--span-color);
    padding: 0.3rem 0;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;

    border-radius: 0.5rem 0.5rem 0 0;
}

.x_fechar {
    margin-right: 1rem;
    color: var(--text-container-color);
}

.x_fechar:hover{
    cursor: pointer;
    transition: 0.5s;
}

.card_Tutorial {
    background-color: transparent;
    border-radius: 0.5rem;
    height: 75vh;
    margin-left: 1rem;
    position: absolute;
    z-index: 1;
    width: 27%;
    margin-left: 35%;
}

.card_Tutorial-container {
    background-color: var(--container-tutorial);
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 95%;
}

.carrousel {
    width: 95%;
    
}


.custom-arrows{
    margin-top: 15%;
}
.img_container {
    background-color: var(--span-color);
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    padding: 1.5rem 0.5rem;
}

.card_text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88%;
    height: 30vh;
    justify-content: space-evenly;
}

.card_text-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88%;
    height: 45vh;
    justify-content: space-evenly;
}

.card_title {
    font-size: var(--tamanho-font);
    font-weight: bold;
    color: var(--tittle-color);
}

.card_text {
    font-size: 1rem;
    text-align: center;
    color: var(--text-color);
}

.card_text-blue {

    color: var(--subtittle-color);
    text-align: center;
}

.card_buttons {
    padding: 0.5rem;
    background-color: var(--span-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--text-container-color);
    width: 45%;
}

.card_buttons-fechar {
    padding: 0.5rem;
    background-color: var(--container-search);
    border: none;
    border-radius: 0.5rem;
    color: var(--text-container-color);
    width: 45%;
}

.card_buttons-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}


.card_buttons:hover {
    background-color: var(--button-color-hover);
    cursor: pointer;
    transition: 0.5s;
}

.card_buttons-fechar:hover {
    cursor: pointer;
    background-color: #c2c2c2cb;
    transition: 0.5s;
}

.img_card {
    max-height: 6.5rem;
}

.span_red-title {
    color: #FF4F4F;
}

.x_fechar-container-red {
    background-color: #FF4F4F;
    padding: 0.3rem 0;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;

    border-radius: 0.5rem 0.5rem 0 0;
}

.card_buttons-red {
    padding: 0.5rem;
    background-color: #FF4F4F;
    border: none;
    border-radius: 0.5rem;
    color: var(--text-container-color);
    width: 45%;
}

.card_buttons-red:hover {
    background-color: #ff4f4fb1;
    cursor: pointer;
    transition: 0.5s;
}

.img_container-red {
    background-color: #FF4F4F;
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    padding: 1.5rem 0.5rem;
}

.img_container-yellow {
    background-color: #FFC700;
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    padding: 1.5rem 0.5rem;
}

.card_buttons-yellow {
    padding: 0.5rem;
    background-color: #FFC700;
    border: none;
    border-radius: 0.5rem;
    color: var(--text-container-color);
    width: 45%;
}

.card_buttons-yellow:hover {
    background-color: #ffc800a8;
    cursor: pointer;
    transition: 0.5s;
}

.x_fechar-container-yellow {
    background-color: #FFC700;
    padding: 0.3rem 0;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;

    border-radius: 0.5rem 0.5rem 0 0;
}


.img_container-Black {
    background-color: var(--black-tutorial);
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    padding: 1.5rem 0.5rem;
}

.card_buttons-Black {
    padding: 0.5rem;
    background-color: var(--black-tutorial);
    border: none;
    border-radius: 0.5rem;
    color: var(--text-container-color);
    width: 45%;
}

.card_buttons-Black:hover {
    background-color: #535353;
    cursor: pointer;
    transition: 0.5s;
}

.x_fechar-container-Black {
    background-color: var(--black-tutorial);
    padding: 0.3rem 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card_buttons-green {
    padding: 0.5rem;
    background-color: #4CE364;
    border: none;
    border-radius: 0.5rem;
    color: var(--text-container-color);
    width: 45%;
}

.card_buttons-green:hover {
    background-color: #4ce365ae;
    cursor: pointer;
    transition: 0.5s;
}

.margin_left{
    margin-left: 1rem;
}
.input_card {
    width: 100%;
    border: none;
    border-bottom: 1px solid #626161;
    padding: 1rem 0;
    background-color: transparent;
    outline: none;

}


.card_button-link {
    border: none;
    color: #fff;
}
.input_card-container {
    width: 95%;
    display: flex;
    justify-content: start;
}


.icon_reunioes-card{
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 250px)  and  (max-width: 800px){
    .card_title {
        font-size: 1rem;
        font-weight: bold;
        color: var(--tittle-color);
    }
    .card_text {
        font-size: 0.6rem;
        text-align: center;
        color: var(--text-color);
    }
    .icon_reunioes-card{
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
    }
    .card_buttons {
        padding: 0.5rem;
        background-color: var(--span-color);
        border: none;
        border-radius: 0.5rem;
        color: var(--text-container-color);
        width: 100%;
    }

    .card_Tutorial {
        background-color: transparent;
        border-radius: 0.5rem;
        height: 60vh;
        position: absolute;
        z-index: 1;
        width: 90%;
        margin-left: -3%;
        margin-top: 5%;
    }

   
    .aprov-neg_card{
        margin-top: 130%;
    }
    
    .card_minhasCompras-position1{
        margin-top: 70%;
    }
    .card_minhasCompras-position2{
        margin-top:105vh;
    }
    .card_minhasCompras-position3{
        margin-top:180vh;
    }

 
    
}

@media (min-width: 800px)  and  (max-width: 1200px){
    .icon_reunioes-card{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        font-size: 0.5rem;
    }
}