@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

:root {
    --body-color: #ffffff;
    --tittle-color: #000000;
    --text-color: #7A7A7A;
    --text-container-color: #ffffff;
    --subtittle-color: #2A8BF2;
    --container-light: #ffffff;
    --container-search: #c2c2c2;
    --button-color-hover: #58a4f577;
    --container-lateral-bar: #58A5F5;
    --container-color: #2A8BF2;
    --span-color: #2A8BF2;
    --box-shadow-container: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
    --border-box-shadow-container: 1px solid rgba(0, 0, 0, 0.074);
    --container-svg: #fff;
    --svg: #2A8BF2;
    --container-img-notification: #5c5c5c59;
    --container-tutorial: #f4f4f4;
    --black-tutorial: #393939;
    --plaholder-color: #393939;
    --gradient-border: linear-gradient( blue, red);
}


.dark_mode {
    --body-color: #2A2C2E;
    --tittle-color: #ffffff;
    --subtittle-color: #2A8BF2;
    --button-color-hover: #2E5F93;
    --text-color: #5c5c5c;
    --text-container-color: #ffffff;
    --container-color: #3a3a3a64;
    --container-search: #979797;
    --container-light: #323334;
    --button-color: #2A8BF2;
    --span-color: #2A8BF2;
    --container-lateral-bar: #3a3a3a;
    --box-shadow-container: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
    --border-box-shadow-container: 1px solid rgba(0, 0, 0, 0.074);
    --container-svg: #3A3A3A3A;
    --svg: #fff;
    --container-tutorial: #434343;
    --black-tutorial: #4e4d4d;
    --plaholder-color:#fff;
}

.title_color{
    color: var(--tittle-color);
}

.text_color{
    color: var(--text-color);
}

.text {
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    
}

