.border_card-cadastro {
    box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.285);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    width: 70%;
    padding: 0.8rem;
    display: flex;

}

.card_cadastro-container {
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.card_cadastro-text {
    margin-left: 1rem;
}

.card_cadastro-title {
    font-size: 1.063rem;
    color: var(--tittle-color);
    font-weight: bold;
}

.card_cadastro-subtitle {
    font-size: 0.938rem;
    color: var(--tittle-color);
    margin-top: 0.2rem;
}

.cadastro_form-input {
    width: 40%;
    padding: 0.8rem;
    margin: 0.3rem;
    background-color: #58A5F5;
    color: var(--tittle-color);
    border-radius: 0.3rem;
    border: none;
    margin-top: -1rem;
}

.cadastro_form-input-1 {
    width: 23.8%;
    padding: 0.8rem;
    margin: 0.9rem;
    margin-left: 0.3rem;
    background-color: #58A5F5;
    color: #fff;
    border-radius: 0.3rem;
    border: none;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}

.cadastro_form-input-2 {
    width: 20%;
    padding: 0.8rem;
    margin: 0.3rem;
    background-color: #58A5F5;
    color: #fff;
    border-radius: 0.3rem;
    border: none;
    margin-top: -1rem;
}

.placeholder_color::placeholder{
    color: #fff;
}


.cadastro_form-input-3 {
    width: 60%;
    padding: 0.8rem;
    margin: 0.3rem;
    background-color: #58A5F5;
    color: #fff;
    border-radius: 0.3rem;
    border: none;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}


.cadastro_form-input {
    margin-bottom: 1.5rem;
}

.integrações_tittle-text {
    margin-bottom: 1.5rem;
}

.integracoes_subtitle {
    margin-bottom: 1.5rem;
}


.cadastro_usuario-button {
    border: none;
    background-color: #4CE364;
    border-radius: 0.5rem;
    padding: 0.3rem 2rem;
    width: 30%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: var(--box-shadow-container);
    margin-left: 30%;
    margin-bottom: 1.5rem;
}

.cadastro_card {
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    width: 70%;


}

.select_card_cadastro {
    margin-left: 40%;
    border: none;
}

.cadastro_card-container {
    margin-bottom: 2rem;
}

.id-senha_container {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 1rem;
}

.search_form_cardConfig {
    width: 80%;
    background-color: #f4f4f4;
    padding: 0.3rem;
    border-radius: 0.5rem;

}

.listBottom-container {
    width: 75%;
    background-color: var(--container-light);
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.159);
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.318);
    margin-bottom: 1rem;
    border-top: transparent;
    z-index: 0;
    position: static;
}

.button_list_item-cardCadastro {
    border-radius: 100%;
    padding: 0.5rem 0.5rem;
    border: none;
    margin-right: 1rem;
    width: 1%;
    height: 10%;
}



.list_item-cardCadastro {
    width: 75%;
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    background-color: chartreuse;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.125rem;
    cursor: pointer;
}

.list-cardCadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background_blue {
    background-color: #2A8BF2;
}


.background_green {
    background-color: #4CE364;
}


.background_yellow {
    background-color: #FFC700;
}


.background_gray {
    background-color: #C4C4C4;
}