@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


.configEverest_container {
    width: 90%;
    margin-left: 8%;
    display: flex;
}

.configEverest_title {
    font-size: var(--tamanho-font);
    font-weight: bold;
    margin-top: 2rem;
}

.metrics_img_arrow-1 {
    margin-left: 2rem;
    transform: rotate(270deg);
   
}

.configEverest_configs-container {
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    margin-top: 1rem;
    margin-left: 0.5rem;
    height: 90vh;
    max-height: 90vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    border-bottom: none;
}

.card_lembrete {
    box-shadow: var(--box-shadow-container);
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    width: 85%;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--container-light);
}

.lembrete_title {
    color: var(--subtittle-color);
    font-size: 1.25;
    margin-top: 0.5rem;
}

.Lembrete_text {
    color: var(--text-color);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

.configEverest_configs-cards {
    display: flex;
    width: 85%;
    margin-top: 1.5rem;
    cursor: pointer;
}

.configEverest_configs-cards-img {
    height: 2.375rem;
}

.configEverest_configs-cards-title {
    font-size: 1.188rem;
}

.configEverest_configs-cards-text {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
    margin-top: 0.6rem;
}

.configEverest_configs-cards-text-container {
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: var(--color-text);
    width: 20vw;
}

.last_card {
    border: none
}

.img_circle_container {
    display: inline-flex;
    margin-top: 1rem;
}

.div_configs-container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.configEverest_configs-container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.hidden {
    display: none;
}

.div_configs-container {
    width: 60%;
    overflow-y: scroll;
    max-height: 95vh;
    z-index: 0;
}

.div_configs-containe2 {
    width: 60%;
    overflow-y: scroll;
    max-height: 95vh;
    z-index: 0;
}

.configEverest_container-mobile{
   display: none;
}
@media (min-width: 250px)  and  (max-width: 500px){
    .configEverest_container{
        display: none;
    }
    .configEverest_container-mobile{
        min-height: 100vh;
        display: inline;
    }
    .configEverest_configs-cards-text-container {
        margin-left: 1rem;
        margin-bottom: 1rem;
        color: var(--color-text);
        width: 100%;
    }
    .configEverest_configs-cards-text {
        font-size: 0.7rem;
        color: var(--text-color);
        font-weight: bold;
        margin-top: 0.6rem;
    }
    .configEverest_configs-cards-title {
        font-size: 0.9rem;
    }
    .configEverest_configs-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 5%;
        width: 90vw;
        margin-left: 5vw;
       
        height: 75vh;
        margin-top: 10%;
    }
    
    .div_configs-container {
        width: 100%;
        overflow-y: scroll;
        max-height: 65vh;
        background-color: aqua;
        z-index: 0;
    }
    .div_configs-container2 {
        width: 100%;
        overflow-y: scroll;
        max-height: 73vh;
        
        z-index: 0;
    }
    
    .configEverest_title {
        font-size: var(--tamanho-font);
        font-weight: bold;
        margin-top: 32%;
    }
}