.integraçoes_configs {
    font-family: (Poppins);
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    width: 95%;
    max-height: 85vh;
    overflow-y: scroll;
}

.integracoes_intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.integracoes_tittle {
    font-size: var(--tamanho-font);
    font-weight: bold;
    margin-bottom: 1.8rem;

}

.integracoes_subtitle {
    font-size: var(--tamanho-font);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.integrações_tittle-text {
    font-size: 1.125rem;
    color: var(--text-color);
    margin-top: 1rem;

}


.container_integracoes {

    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 38%;
    padding: 1rem;
    box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.074);

}

.integracoes_card_title-container {
    display: flex;

    width: 80%;
    margin-bottom: 0.8rem;
}

.tittle_midias-sociais {
    font-size: 1.063rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.text_integrações_container {
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    max-width: 85%;
}

.img_title-card {
    width: 28%;
    margin-right: 0.8rem;
}

.text_subtittle_container {
    font-size: 0.75rem;
    font-weight: bold;

}

.fundo_azul {
    background-color: #2A8BF2;
}

.fundo_vermelho {
    background-color: #FF4F4F;
}

.fundo_verde {
    background-color: #4CE364;
}


.fundo_azul-claro {
    background-color: #58A5F5;
}

.integraçoes_configs::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}


@media (min-width: 250px)  and  (max-width: 800px){
    
.integracoes_tittle {
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
    margin-top: 12%
}

.integracoes_subtitle {
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.integrações_tittle-text {
    font-size: 0.85rem;
    color: var(--text-color);
    margin-top: 1rem;

}

.container_integracoes {

    margin-bottom: 1rem;
    margin-left: 0rem;
    width: 90%;
    padding: 0.5rem;
    box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.074);

}
.integraçoes_configs {
    font-family: (Poppins);
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 90%;
    max-height: 90vh;
    overflow-y: scroll;
}
.text_integrações_container {
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.65rem;
    margin-bottom: 0.5rem;
    width: 95%;
}

.tittle_midias-sociais {
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
}

@media (min-width: 500px)  and  (max-width: 700px){
    .container_integracoes {

        margin-bottom: 1rem;
        margin-left: 15%;
        width: 60%;
        padding: 0.5rem;
        box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.074);
    
    }
}

@media (min-width: 700px)  and  (max-width: 800px){
    .container_integracoes {

        margin-bottom: 1rem;
        margin-left: 15%;
        width: 60%;
        padding: 0.5rem;
        box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.074);
    
    }
}