.icons_title_crm{
    display: flex;
    margin-top: 0.5rem;
}

.icons_title_crm-text{
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.border_icon-crm{
    border-left:  var(--border-box-shadow-container);
    border-right: var(--border-box-shadow-container);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.title_crm-container{
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
    color: var(--tittle-color);
}

.title_crm{
    font-size: 1.5rem;
    color: var(--tittle-color);
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 0.4rem;
}

.filtarPor_Crm{
     margin-left: 1rem;
}

.filtarPor_img-crm{
    height: 1.5rem;
}

.filtarPor_text-crm{
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}

.card_crm-contrainer{
    margin-left: 1%;
    margin-top: 3%;
    width: 22%;
}

.main_card-container{
    display: flex;
    width: 92%;
    margin-left: 6%;
    padding-left: 1rem;
}

.title_crm-card{
    font-size: 1.3rem;
    color: #2A8BF2;
    border-bottom: 0.1rem solid #2A8BF2;
    padding-bottom: 0.3rem;
}

.search_form_card-crm{
    width: 90%;
    background-color: var(--container-search);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.2rem;
    height: 1.5rem;
    margin-top: 5%;
    

}

.input_search_card-crm{
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none ;}

.button_search_card-crm{
    border: none;
    background-color: transparent;
    
   }


.card_crm-title{
    font-size: 1.1rem;
}

.card_crm-text{
    color: var(--text-color);   
}

.card_crm{

padding: 0.2rem 0.8rem;
box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
border-radius: 0.5rem;
border: 1px solid rgba(0, 0, 0, 0.074);
margin-top: 0.5rem;
}

.card_crm-text-container{
    margin-top:0.8rem;
    margin-left: 1rem;
    color: var(--text-color);
}



.card_crm-number{
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: var(--tittle-color)

}

.card_crm-content{
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.img_crm-button{
    height: 1.6rem;
    margin-top: 60%;
   
}

.card_crm-buttons-circle{
    border-radius: 100%;
    background: none;
    border: none;
    margin-left: -2px;
}

.card_crm-buttons-circle-1 {
    width: 2rem;
    height: 2rem;
    margin-top: 0.7rem;

}

.card_crm-buttons-circle-2 {
    width: 40%;
}


.card_crm-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 90%;
    margin-left: 5%;
}

.card_crm-button{
    max-height: 1.5rem;
    background-color: #2A8BF2;
    border: none;
    border-radius: 0.5rem;
    padding: 0.1rem 0.7rem;
    margin-left: 0.5rem;
    margin-top: 0.9rem;
    color: #fff;
}

.card_crm-buttons-container{
    display: flex;
    
}

.card_crm-contrainer{
box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
border-radius: 0.5rem;
border: 1px solid rgba(0, 0, 0, 0.074);
padding: 1rem;
max-height: 70vh;
overflow-y: scroll;
overflow-x: hidden;
}



.card_crm-contrainer::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }