@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


.configEverest_container{
    width: 90%;
    margin-left: 8%;
    display: flex;
}

.configEverest_title{
    font-size: 1.563rem;
    font-weight: bold;
    margin-top: 2rem;
}

.metrics_img_arrow-1 {
    margin-left: 21rem;
    transform: rotate(270deg);

} 

.configEverest_configs-container{
    box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.074);
    margin-top: 1rem;
    margin-left: 0.5rem;
    height: 90vh;
    max-height: 90vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    border-bottom: none;
}

.card_lembrete{
    box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.074);
    width: 85%;
    margin-top: 1rem;
    padding: 0.5rem;
}

.lembrete_title{
    color: #2A8BF2;
    font-size: 1.25;
    margin-top: 0.5rem;
}

.Lembrete_text{
    color: rgba(0, 0, 0, 0.611);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

.configEverest_configs-cards{
    display: flex;
    width: 85%;
    margin-top: 1.5rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.074) ;
    cursor: pointer;
}

.configEverest_configs-cards-img{
    height: 2.375rem;
}

.configEverest_configs-cards-title {
    font-size: 1.188rem;
    font-weight: bold;
}

.configEverest_configs-cards-text{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.611);
    margin-top: 0.6rem;
}

.configEverest_configs-cards-text-container{
    margin-left: 1rem;
    margin-bottom: 1rem;
   
}

.last_card{
    border:none
}

.img_circle_container {
    display: inline-flex;
    margin-top: 1rem;
}

.div_configs-container::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }

.configEverest_configs-container::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }

.hidden{
    display: none;
}

.div_configs-container{
    width: 60%;
    overflow-y: scroll;
    max-height: 95vh;
}
