.dashBoard_card{
    box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.074);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;

}