
.graph_bar{
    margin-left: 10%;
    
}

.graph_pie{
    margin-left: 10%;
    border-radius: 0.5rem ;
    border: 1px solid  rgba(0, 0, 0, 0.074) ;
    box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
 
}

.canva_graph_pie{
    margin-left: 6rem;
    margin-top: -5rem;
    margin-bottom: 1rem;
    max-width: 150px;
    max-height: 150px;
}

.graph_pie ul {
    margin-top: 5%;
}

.charts_paralelos{
    display: flex;
    margin-top: 5%;
    width: 45%;
    padding-left: 13%;
    height: 17rem;
}


.bar_father{
    border-radius: 0.5rem;
    height: 0.5rem;
    margin-top: 0.7rem;
    margin-left: 2rem;
    width: 100%;
}

.bar_son{
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    height: 0.5rem;
}

.socialChart_li{
    display: flex;
    width: 35%;
    padding: 0rem 2rem;
    margin-top: 0.3rem;
}

.title_social_chart{
    font-family: 'Baloo 2', cursive;
    padding:0.7rem 0.5rem;
    width: 2rem;
    font-size: 0.8rem;
}

.social_titles_separation_graficos{
    background-color: #58A5F5;
    padding: 0.5rem 1rem;
    width: 93%;
    margin-bottom: 0.5rem;
    
}
.socialChart{
    width: 100%;
    border-radius: 0.5rem ;
    border: 1px solid  rgba(0, 0, 0, 0.074) ;
    box-shadow: -0.1rem 0.2rem rgba(0, 0, 0, 0.074);
    
}

.socialChart_ul{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    
}

.img_social_chart{
    height: 1.8rem;
    margin-top: 0.2rem;
}

.text_none{
    display: none;
}

.text_hidden{
visibility: hidden;    
}

.columnchart_material{
  height: 100%;
}

.columnchart_container{
    width: 80%;
    margin-left: 15%;
    margin-top: 2rem;
    height: 15rem;
}