
.graph_bar{
    margin-left: 10%;
    
}

.graph_pie{
    margin-left: 10%;
    border-radius: 0.5rem ;
}

.canva_graph_pie{
    margin-left: 6rem;
    margin-top: -5rem;
    margin-bottom: 1rem;
    max-width: 150px;
    max-height: 150px;
}

.graph_pie ul {
    margin-top: 5%;
}

.charts_paralelos{
    display: flex;
    margin-top: 5%;
    width: 45%;
    padding-left: 13%;
}


.bar_father{

    border-radius: 0.5rem;
    
    height: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
}

.bar_son{
    
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    
}

.socialChart_li{
    display: flex;
    width: 35%;
    padding: 0.5rem 1rem;
  
   
    
}

.title_social_chart{
    font-family: 'Baloo 2', cursive;
    padding: 1rem;
    width: 3rem;
}

.social_titles_separation{
    
    background-color: #58A5F5;
    padding: 1rem 1rem;
    width: 92%;

}
.socialChart{
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.socialChart_ul{
    display: flex;
    flex-direction: column;
}

.img_social_chart{
    height: 3rem;
}

.text_none{
    display: none;
}

.text_hidden{
visibility: hidden;    
}