.main_message{
  display: flex;
  width: 83%;
  margin-left: 15%;
  margin-top: 1%;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-container);
  max-height: 6.5rem;
  border: var(--border-box-shadow-container);
}

.main_message_title{
  color: var(--tittle-color);
  font-size: 1rem;
  margin-top: -1rem;
}

.main_message_text{
  color: var(--text-color);
  margin-top: 1rem;
  line-height: 1.5rem;
}

.main_message_container{
  padding: 2rem 2rem;
  color: var(--container-color);
}

.main_message_img{
  width: 12rem;
  height: 5rem;
  margin-top: 2%;
}

@media(min-width:1400px){
  .main_message{
  
    width: 52%;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-container);
    max-height: 12.5rem;
    border: var(--border-box-shadow-container) ;
  }

}

