.main_content_container{
    display: flex;
}

.minhaEquipe_metics_container{
    width: 30%;
    padding: 5%;
}

.minhaEqipe_container{
    background-color: #F4F4F4;
    border-radius:0.5rem ;
    box-shadow: -0.2rem 0.3rem rgba(0, 0, 0, 0.074);
  
}

.minhaEquipe_titles{
    font-size: 1.2rem;
    color: #fff;
    margin-left: 0.5rem;
}
.minhaEquipe_titles_container{
    display: flex;
   
}
.minhaEquipe_titles_separation{
    
    background-color: #58A5F5;
    padding: 1rem 1rem;
    width: 50%;

}

.minhaEquipe_titles_separation:hover{
    background-color:  #58a4f577;
    cursor: pointer;
    transition-delay: 100ms;
    
}

.card_colaborators_container{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    
}
.card_colaborators{
    display: flex;
    margin-top: 1rem;
   
}

.card_colaborators_text-container{
    padding-top: 0.6rem;
    padding-left: 1rem;
    
    
}

.card_colaborators_title{
    font-weight: bold;
    font-size: 1rem;
    
}

.card_colaborators_text{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.585);
    margin-top: 0.2rem;
}

.card_colaborators_icons-container{
    display: flex;
    padding-bottom: 0.6rem;
    margin-left: 7rem;
}
.card_colaborators_icons{
    margin-left: 0.8rem;
    max-width: 1.5rem;
}
.card_colaborators_icons-container_mid{
    display: flex;
    padding-bottom: 0.6rem;
    margin-left: 6rem;
}

.colaborator_img{
    height: 3rem;
}

.colaborators_list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.button_img{
    height: 4rem;
}

.button_colaborators_list{
    border: none;
    background-color: transparent;
   margin-top: -0.5rem;
}