.menssager_container{
    display: flex;
    flex-direction: row;
}
.opened_chat-container{
    width: 40%;
    padding: 1.8rem;
}


.opened_chat_name-container{
    display: flex;
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    padding-bottom: 1rem;
}

.online_off{
    display: flex;
    padding-top: 0.2rem
}

.img_online{
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.opened_chat-name{
    font-weight: bold;
    font-size: 1.4rem;
}

.img_profile_chat{
    margin-top: 0.5rem;
    margin-right: 1rem;
}


.icon_opitions_opened_chat-conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 50%;
    
}

.icon_opitions_opened_chat{
    height: 0.5rem;
    margin-top: 0.2rem;
}

.text_box-container{
   padding: 0 1rem;
    border:1px solid rgba(0, 0, 0, 0.308);
    border-radius: 0.5rem;
    margin-top: 5%;
    
}
.text_box{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding: 0.5rem 0rem;
    margin-left: 1rem;
}
.text_box-button{
    border: none;
    
    background-color: transparent;

}
.text_box-form{
    border: none;
    width: 90%;
    margin-left: 1rem;
    outline: none ;
    
}

.text_box-button-img-add{
    height: 2.2rem;
    
}

.text_box-button-img-nav{
    height: 2rem;
}

.chat_response-container{
    display: flex;
    margin-top: 1rem;
}

.user_img_chat{
    height: 2.5rem;
}

.chat_response_text{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.chat_response{
    background-color: #58A5F5;
    margin-left: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 0.95rem;
}

.chat_response-hour{
    width: 70%;
    margin-left: 30%;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.611);
}

.chat_message_text{
    display: flex;
    flex-wrap: wrap;
    
}

.chat_message{
    background-color: #C4C4C4;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #707C97;
    margin-left: 60%;
}

.chat_message-hour{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.611);
    margin-left: 80%;
}

.chat_response_archive{
    background-color: #58A5F5;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.chat_response_archive img {
    width: 50%;
    height: 100%;
}

.chat_response_mb{
    background-color: #58A5F5;
    margin-left: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 0.95rem;
}

.chat_container{
    overflow-y: scroll;
    max-height: 21rem;
    margin-bottom: 8%;
}

.chat_text-data {
    margin-left: 35%;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.611);
}

.chat_container::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }