.menssager_container{
    display: flex;
    flex-direction: row;
}
.opened_chat-container{
    width: 40%;
    padding: 1.8rem;
}


.opened_chat_name-container{
    display: flex;
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    padding-bottom: 1rem;
}

.online_off{
    display: flex;
    padding-top: 0.2rem
}

.img_online{
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.opened_chat-name{
    font-weight: bold;
    font-size: 1.4rem;
}

.img_profile_chat{
    margin-top: 0.5rem;
    margin-right: 1rem;
}


.icon_opitions_opened_chat-conteiner{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 50%;
    
}

.icon_opitions_opened_chat{
    height: 0.5rem;
    margin-top: 0.2rem;
}

.text_box-container{
   padding: 0 1rem;
    border:1px solid rgba(0, 0, 0, 0.308);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    
}
.text_box{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding: 0.5rem 0rem;
    margin-left: 1rem;
}
.text_box-button{
    background-color: #000;
    border: none;
    height: 2rem;
    width: 2rem;

}
.text_box-form{
    border: none;
    width: 90%;
    margin-left: 1rem;
    outline: none ;
    
}

