.graph_bar {
    margin-left: 10%;

}

.graph_pie {
    margin-left: 4%;
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    box-shadow: var(--box-shadow-container);
    background-color: var(--container-light);
    width: 50%;
}

.canva_graph_pie {
    margin-left: 6rem;
    margin-top: -5rem;
    margin-bottom: 1rem;
    max-width: 150px;
    max-height: 150px;
    background-color: var(--container-light);
}

.graph_pie ul {
    margin-top: 5%;
}

.graph_pie_sigla {
    background-color: var(--tittle-color);
}


.charts_paralelos {
    display: flex;
    margin-top: 2%;
    width: 80%;
    margin-left: 8rem;
    height: 16rem;
    margin-bottom: 1rem;
    background-color: var(--container-light);
}


.bar_father {
    border-radius: 0.5rem;
    height: 0.5rem;
    margin-top: 0.7rem;
    margin-left: 2rem;
    width: 100%;
}

.bar_son {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    height: 0.5rem;
    color: var(--tittle-color);
}

.socialChart_li {
    display: flex;
    width: 35%;
    padding: 0rem 2rem;
    margin-top: 0.3rem;
}

.title_social_chart {
    font-family: 'Baloo 2', cursive;
    padding: 0.7rem 0.5rem;
    width: 2rem;
     font-size: var(--tamanho-mobile);
    color: var(--tittle-color);
}

.social_titles_separation_graficos {
    background-color: var(--subtittle-color);
    padding: 0.5rem 1rem;
    width: 90%;
    margin-bottom: 0.5rem;

}

.socialChart {
    width: 50%;
    border-radius: 0.5rem;
    border: var(--border-box-shadow-container);
    box-shadow: var(--box-shadow-container)
}

.socialChart_ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;

}

.img_social_chart {
    height: 1.8rem;
    margin-top: 0.2rem;
}

.text_none {
    display: none;
}

.text_hidden {
    visibility: hidden;
}

.columnchart_material {
    height: 100%;
}

.columnchart_container {
    width: 10%;
    margin-left: 15%;
    height: 5rem;
}

.grafic_img {
    margin-left: 8rem;
    fill: var(--tittle-color);
}

.text_grafic {
    font-family: 'Baloo 2', cursive;
    margin-left: 10rem;
    margin-top: -1.2rem;
    margin-bottom: 1rem;
    color: var(--tittle-color);
}


@media (min-width: 250px)  and  (max-width: 1300px){

    
    .charts_paralelos {
        display: flex;
        margin-top: 2%;
        width: 90vw;
        margin-left: 5vw;
        height: 16rem;
        margin-bottom: 1rem;
        background-color: var(--container-light);
        display: flex;
        flex-direction: column;
        margin-top: 5%;
       
    }
    
    .socialChart {
        width: 83vw;
        border-radius: 0.5rem;
        border: var(--border-box-shadow-container);
        box-shadow: var(--box-shadow-container);
        margin-top: 1rem;
        padding: 1rem;
    }
    
    
    .socialChart_ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        width: 67%;
        
    }
    
    .columnchart_container {
        width: 90vw;
        margin-left: 5vw;
        height: 20vh;
        overflow-x: scroll;
    
    }
    
    
    .text_grafic {
        font-family: 'Baloo 2', cursive;
        margin-left: 2%;
        margin-top: 0;
        margin-bottom: 1rem;
        color: var(--tittle-color);
         font-size: var(--tamanho-mobile);
       
        width: 95%;
    }
    
    .grafic_img {
        fill: var(--tittle-color);
        margin-left: 0;
    }
    
    .graph_pie {
        margin-left: 0;
        border-radius: 0.5rem;
        border: var(--border-box-shadow-container);
        box-shadow: var(--box-shadow-container);
        background-color: var(--container-light);
        width: 83vw;
        padding: 1rem;
        margin-top: 1rem;
    }
    
    .social_titles_separation_graficos {
        padding: 0.5rem 1rem;
        width: 100%;
        margin-bottom: 0.5rem;
        margin-left: -6%;
        margin-top: -1rem;
    }
    
    .container_grafico{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: 90vw;
        margin-top: 70%;
        margin-left: 10vw;
        
    }
    .metrics_title{
        font-size: 1.2rem;
    }
    
    .columnchart_container::-webkit-scrollbar {
        width: 5px;
        /* width of the entire scrollbar */
    }
    
    .socialChart_li {
        display: flex;
        width: 20%;
        padding: 0rem 2rem;
        margin-top: 0.3rem;
    }
    .social_titles_separation_graficos{
        margin-left: -3.5%;
    }

    .social_titles_separation_graficos{
        margin-left: -4.5%;
    
        }

 
    }
    @media (min-width: 500px)  and  (max-width: 600px){
        .social_titles_separation_graficos{
            margin-left: -3.5%;
        }
    }
     
    
    @media (min-width: 600px)  and  (max-width: 700px){
        .social_titles_separation_graficos{
            margin-left: -3%;
        }
    }

    @media (min-width: 800px)  and  (max-width: 1300px){
        .socialChart {
            width: 50%;
            border-radius: 0.5rem;
            border: var(--border-box-shadow-container);
            box-shadow: var(--box-shadow-container);
            margin-top: 0rem;
            padding: 1rem;
            margin-left: -8%;
            height: 35vh;
        }

        .graph_pie {
            margin-left: 2%;
            border-radius: 0.5rem;
            border: var(--border-box-shadow-container);
            box-shadow: var(--box-shadow-container);
            background-color: var(--container-light);
            width: 40%;
            padding: 1rem;
            margin-top: 0rem;
            height: 35vh;
        }
        .container_grafico{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 0%;
            margin-left: 0%;
            
        }

        .columnchart_container {
            width: 100%;
            margin-left: 0%;
            height: 20vh;
            overflow-x: scroll;
            
        }

        .charts_paralelos {
            display: flex;
            margin-top: 2%;
            width: 100%;
            margin-left: 5vw;
            height: 40VH;
            margin-bottom: 1rem;
            background-color: var(--container-light);
            display: flex;
            flex-direction: row;
            margin-top: 5%;
           
        }

        .main_message_graphcs-container{
            
            width: 60%;
            margin-left: 20%;
        }
        
    }


    @media (min-width: 1300px)and  (max-width: 1500px){

        .columnchart_container {
            width: 80%;
            margin-left: 20%;
            height: 20vh;
            overflow-x: scroll;
            
        }
        .columnchart_container::-webkit-scrollbar {
            width: 5px;
            /* width of the entire scrollbar */
        }

        .charts_paralelos {
            display: flex;
            margin-top: 0%;
            width: 85%;
            margin-left: 9vw;
            height: 40VH;
            margin-bottom: 1rem;
            background-color: var(--container-light);
            display: flex;
            flex-direction: row;
            margin-top: 5%;
           
        }

        
}

    