.main_message {
  display: flex;
  width: 83%;
  margin-left: 15%;
  margin-top: 1%;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-container);
  max-height: 6.5rem;
  border: var(--border-box-shadow-container);
}

.main_message_title {
  color: var(--tittle-color);
  font-size: var(--tamanho-mobile);
  margin-top: -1rem;
}

.main_message_text {
  color: var(--text-color);
  margin-top: 1rem;
  line-height: 1.5rem;
}

.main_message_container {
  padding: 2rem 2rem;
  width: 37rem;
  background-color: var(--container-light);
  border-radius: 8px 0px 0px 8px;
}

.main_message_img {
  width: 11rem;
  height: 5%;
  margin-top: 0%;
  margin-right: 1rem;
  background-color: var(--container-light);
  border-radius: 0 0 0 0px;
}

@media(min-width:1400px) {
  .main_message {
    width: 80%;
    margin-left: 15%;
    margin-top: 2%;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-container);
    max-height: 12.5rem;
    border: var(--border-box-shadow-container);
  }

}


@media (min-width: 250px)  and  (max-width: 1400px){
  


   .main_message{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10%;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-container);
    border: var(--border-box-shadow-container);
   
    max-height:100vh;
   }
   .main_message_img{
    display: none;
   }
  
}


@media (min-width: 800px)  and  (max-width: 1400px){

  .main_message{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-left: 0%;
    margin-top: 5%;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-container);
    border: var(--border-box-shadow-container);
    max-height:100vh;
   }

   .main_message_container {
    padding: 2rem 2rem;
    width: 100%;
    background-color: var(--container-light);
    
  }
}